---
import { getLangFromUrl, useNavTranslations } from "@/utils";
import { NAV_LINKS, siteConfig } from "../consts.ts";
const year = new Date().getFullYear();
const lang = getLangFromUrl(Astro.url);
const t = useNavTranslations(lang);
import type { NavEntry } from "@/i18n/nav";
const url = new URL(Astro.request.url);
function buildNavLink(nav: string, entry: NavEntry): string {
	if (entry.route) {
		return `/${lang}${entry.route}`;
	}

	return `/${lang}${nav != "home" ? `/${entry.slug}/` : "/"}`;
}
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top font-semibold sm:flex-row sm:justify-between sm:text-xs text-textColor mb-8"
>
	<div class="mr-2 sm:mr-0">
		Copyright &copy; {year}{" "}
		{siteConfig.profile.author}
	</div>
	<nav
		aria-label="More on this site"
		class="sm:flex sm:divide-x sm:divide-accent"
	>
		
	{
		NAV_LINKS.map((nav) => {
			const translation = t(nav);
			return (
				<a
					class="px-2 py-0 hover:text-textColor hover:underline sm:px-4 sm:py-1 text-center"
					href={buildNavLink(nav, translation)}
					title={translation.text}
					aria-current={
						url.pathname === translation.slug
							? "page"
							: false
					}
					data-astro-prefetch
				>
					{translation.text}
				</a>
			);
		})
	}
		
	</nav>

		<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=98291162&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://metrika-informer.com/informer/98291162/1_0_535353FF_333333FF_1_pageviews"
style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" class="ym-advanced-informer" data-cid="98291162" data-lang="ru" /></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.webvisor.org/metrika/tag_ww.js", "ym");

   ym(98291162, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        trackHash:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/98291162" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</footer>
